.select-box-container {
  border: 1px solid #ccc;
  padding: 1rem 0.8rem;
  cursor: pointer;
  user-select: none;
  background-color: #fff;
  width: 250px;
  border-radius: 8px;
}

.placeholder {
  color: #888;
}

.dropdown-container {
  padding: 0.25rem;
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 2px 8px rgba(0,0,0,0.15);
}

.dropdown-filter {
  width: 100%;
  box-sizing: border-box;
  font-size: 1rem;
  padding: 12px 8px;
  margin-bottom: 0.5rem;
}

.dropdown-items {
  max-height: 250px;
  overflow-y: auto;
}

.dropdown-item, .empty-list, .dropdownm-loading {
  padding: 0.8rem 0.6rem;
  color: $text-primary-color;
  font-size: 0.8rem;
  cursor: pointer;
}

.dropdown-item:hover {
  background-color: #f0f0f0;
}

.loading {
  padding: 8px;
  text-align: center;
  font-style: italic;
}