.content{
    display: flex;
    flex-direction: row;
    padding: min(10rem, 10%) min(6rem, 8%);
    gap: 2rem;
}

.logo{
    object-fit: contain;
    width: 100%;
    padding: min(2rem, 10%);
    box-sizing: border-box;
}

h1{
    color: #3c3c3c;
    font-size: clamp(1.5rem, 7vw, 4rem);
}

#form-section{
    padding: min(4rem, 10%);
    min-width: 40%;
    background-color: #198f57;
    border-radius: 4rem;
}

@media screen and (max-width: 800px) {
    .content{
        flex-direction: column;
    }

    #presentation-section{
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 100%;
        gap: 1rem;

        .logo{
            width: 50%;
            padding: 0;
        }
    }
}