@inherits LayoutComponentBase

<AuthorizeView>
    <Authorized>
        <div class="page">
            <div class="sidebar">
                <NavMenu />
            </div>
            <main>
                <div class="app-bar">
                    Logged in as @context.User.Identity?.Name. <a href="logout"><span class="bi bi-door-closed-fill" aria-hidden="true" style="vertical-align:middle"></span> Logout</a>
                </div>

                <article class="content">
                    @Body
                </article>
            </main>
        </div>
    </Authorized>
    <NotAuthorized>
        <LayoutView Layout="typeof(EmptyLayout)"/>
        <div class="page">
            <main>
                <article class="content">
                    @Body
                </article>
            </main>
        </div>
    </NotAuthorized>
</AuthorizeView>