@inherits AuthorizedPage

@page "/"

<div class="container gap-3 flex-center col">
    <div class="text-center">
        <h1 class="fz-clamp-md">Welcome to Parrot Wings</h1>
    </div>

    <hr />

    <div class="text-center gap-3 flex-center col">
        <Card FullWidth>
            <h3 class="card-title">Instant Transfers</h3>
            <p class="card-text">
                Send money quickly to friends, family, or colleagues with just a few clicks.
            </p>
        </Card>
        <Card FullWidth>
            <h3 class="card-title">Detailed History</h3>
            <p class="card-text">
                Keep track of every transaction with our clear and detailed history overview.
            </p>
        </Card>
        <Card FullWidth>
            <h3 class="card-title">Secure Platform</h3>
            <p class="card-text">
                Your financial data and transactions are protected by top-notch security measures.
            </p>
        </Card>
    </div>
</div>