@inherits AuthorizedPage
@page "/transfer"

<div class="container gap-3 flex-center col">
    <div class="text-center">
        <h1 class="fz-clamp-sm">New transfer</h1>
    </div>

    <hr />

    <div class="text-center gap-3 flex-center col">
        <Card FullWidth>
            <h3 class="card-title">Select recipient</h3>
            <SelectBox Autocomplete Placeholder="John Smith" ></SelectBox>
        </Card>
    </div>
</div>