$body-bg: #f1f1f1;
$primary-btn-color: #8585ea;
$primary-btn-hover-color: #7474ec;
$primary-btn-text-color: #ffffff;
$secondary-btn-color: #dc6d86;
$secondary-btn-hover-color: #f6567b;
$secondary-btn-text-color: #ffffff;
$btn-shadow-on-hover: -2px 2px 4px 2px #c7c7c7;
$btn-disabled-bg-color: #aeaeae;
$input-on-focus-outline: #7474ec;

$text-primary-color: #3c3c3c;

$appbar-background-color: #ffffff;
$appbar-text-color: #5a5a5a;
$appbar-link-color: #575757;
$appbar-link-hover-color: rgba(21, 145, 49, 0.76);