@page "/logout"
@using Client.Services.Interfaces
@using Client.Identity
@inject PwAuthenticationStateProvider AuthenticationStateProvider
@inject IAuthService AuthService
@inject NavigationManager NavigateManager

<h1>Logout</h1>
<div class="alert alert-info">Logging you out...</div>

@code {
    protected override async Task OnInitializedAsync()
    {
        var state = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        if (state.User.Identity?.IsAuthenticated == true)
        {
            await AuthService.LogoutAsync();
        }

        NavigateManager.NavigateTo("/login");
    }
}