$body-bg: #f1f1f1;
$primary-btn-color: #a6a6fb;
$primary-btn-text-color: #ffffff;
$secondary-btn-color: #fa8aa4;
$secondary-btn-text-color: #ffffff;

body{
  background-color: $body-bg;
}

.btn{
  display: inline-block;
  border-radius: 0.5rem;
  padding: 0.7rem 2rem;
  font-size: 1rem;
}

.btn-primary{
  background-color: $primary-btn-color;
  color: $primary-btn-text-color;
}

.btn-secondary{
  background-color: $secondary-btn-color;
  color: $secondary-btn-text-color;
}

.btn-vertical-group{
  display: flex;
  flex-direction: column;

  .btn{
    width: 100%;
  }
}